<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="row">
  <div class="col-md-8 ">
    <p id="notice"><%= notice %></p>

    <h1>Questions</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <!-- <th>Option </th> -->
          <!-- <th>Option B</th>
          <th>Option C</th>
          <th>Option D</th>
          <th>Answer</th> -->
          <th>Actions</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="questions">
        <%= render partial: "question" %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Question', new_question_path %>

    <div class='my-pagination'>
      <%= will_paginate @questions, remote: true %>
    </div>
  </div>
</div>
<div class="my-question"></div>
