<div id="segment-edit" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Segment</h4>
      </div>
      <div class="modal-body">
        <%= form_for @segment, remote: true do |form| %>
          <% if @segment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@segment.errors.count, "error") %> prohibited this segment from being saved:</h2>

              <ul>
              <% @segment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= form.text_field :name, id: :segment_name %>
          <%= form.select(:exam_id, Exam.all.collect {|u| [u.title, u.id]}, :prompt => 'Select') %>
          <%= form.submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"" data-dismiss="modal" aria-hidden="true" >Close</button>
      </div>
    </div>
  </div>
</div>


