<% @segments.each do |segment| %>
  <tr>
    <td><%= segment.name %></td>
    <td><%= link_to 'Show', segment %></td>
    <td><%= link_to 'Edit', edit_segment_path(segment), data: {id: segment.id}, remote: true, 'data-toggle' => "modal" %></td>
    <td><%= link_to 'Destroy', "javascript:void(0);", :class => "deletebutton",data: {id: segment.id, url: segment_path(segment) } %></td>
    <td><%= link_to 'Add Question to this segment', select_question_segment_path(segment) %></td>
  </tr>
<% end %>