<div id="exam-edit" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%= form_for @exam, remote: true do |form| %>
          <% if @exam.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

              <ul>
              <% @exam.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= form.text_field :title, id: :exam_title %>
          <%= form.submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>


